XML Schema/Number-List.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Number-List">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Number" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Integer" type="xs:integer"/>
							<xs:element name="SRoman" type="xs:string"/>
							<xs:element name="LRoman" type="xs:string"/>
							<xs:element name="SAlphabet" type="xs:string"/>
							<xs:element name="LAlphabet" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
